<ion-content>
  <div class="container">
    <div style="display: flex; cursor: pointer">
      <ion-img routerLink="/perfil" routerDirection="back" src="/assets/svg/chevron-left-black.svg"></ion-img>
    </div>
    <div class="wrapper">
      <p class="lead">Cambiar Contrasena</p>
      <div class="top">
      </div>
      <form>
        <div class="input-container">
          <p>Contrasena Actual</p>
          <ion-input type="password"></ion-input>
        </div>
        <div class="input-container">
          <p>Nueva Contrasena</p>
          <ion-input type="password"></ion-input>
        </div>
        <div class="input-container">
          <p>Confirmar Contrasena</p>
          <ion-input type="password"></ion-input>
        </div>
        <ion-button routerLink="/perfil" routerDirection="back" class="btn-primary">
          Guardar Cambios
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
