<ion-content>
  <div class="container">
    <div style="display: flex; cursor: pointer">
      <ion-img routerLink="/inicio" routerDirection="back" src="/assets/svg/chevron-left-black.svg"></ion-img>
    </div>
    <div class="wrapper">
      <div class="top">
        <p class="lead">Horario</p>
      </div>
      <ion-accordion-group (ionChange)="accordionGroupChange($event)">
        <ion-accordion *ngFor="let hor of horario | async">
          <ion-item slot="header" color="light">
            <ion-label>{{hor["Dia"]}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class="class_container">
              <div class="class_card" *ngFor="let asignatura of hor.Asignaturas">
                <div class="class_details">
                  <p class="time">{{asignatura[1]}}</p>
                </div>
                <p class="subject">{{asignatura[0]}}</p>
              </div>
            </div>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </div>
</ion-content>