<ion-content>
  <div class="container">
    <div style="display: flex; cursor: pointer">
      <ion-img routerLink="/cursos" routerDirection="back" src="/assets/svg/chevron-left-black.svg"></ion-img>
    </div>
    <div class="wrapper">
      <p class="lead">Descripcion del Curso</p>
      <div class="course-container">
        <div class="course-card">
          <div class="text-container">
            <p class="section">Nombre</p>
            <p class="subject">Arquitectura</p>
          </div>
        </div>
        <div class="course-card">
          <div class="text-container">
            <p class="section">Profesor</p>
            <p class="subject">Christian Lazcano</p>
          </div>
        </div>
        <div class="course-card">
          <div class="text-container">
            <p class="section">Seccion</p>
            <p class="subject">007D</p>
          </div>
        </div>
        <div class="course-card">
          <div class="text-container">
            <p class="section">Codigo</p>
            <p class="subject">ASY4131-007D</p>
          </div>
        </div>
      </div>
      <div class="info-card-container">
        <div class="info-card">
          <div class="img-container">
            <ion-img src="/assets/svg/success.svg"></ion-img>
          </div>
          <p class="title">Asistencias</p>
          <p class="amount">4</p>
        </div>
        <div class="info-card">
          <div class="img-container">
            <ion-img src="/assets/svg/error.svg"></ion-img>
          </div>
          <p class="title">Ausencias</p>
          <p class="amount">1</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-button routerLink="/asistencias" class="btn-primary">
              Ver Asistencias
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>
