<ion-content>
  <div class="container">
    <div style="display: flex; cursor: pointer">
      <ion-img routerLink="/descripcion-curso" routerDirection="back" src="/assets/svg/chevron-left-black.svg"></ion-img>
    </div>
    <div class="wrapper">
      <p class="lead">Registro de Asistencias</p>
      <div class="course-container">
        <div class="course-card">
          <div class="text-container">
            <p class="section">Lunes</p>
            <p class="subject">24 de Agosto de 2022</p>
          </div>
          <div class="status-container">
            <p>Presente</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
