* {
  user-select: none;
}

ion-content {
  --ion-background-color: linear-gradient(180deg, #F48742 0%, #F56087 100%);
}

ion-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1 {
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  line-height: 41.6px;
}